<div class="card-main">
  <div class="list-label">
    <h1><i class="fas fa-utensils"></i> Food List</h1>
  </div>
  <div class="search-input">
    <label for="search"><i class="fas fa-search"></i>&nbsp; <input id="search" name="search" placeholder="search"></label>
  </div>
  <div>
    <table>
      <tr>
        <th>Name</th>
        <th>Available</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let post of post">
        <td style="width: 30%">  
          <div style="float: left; padding-left: 10px">
            <div class="div-product-td"><p>{{ post.product_name}}</p></div>
            <!-- TO DO :: SHOW PRODUCT & INGREDIENTS AND ( UPDATE FUNCTION ) -->
          </div>
        </td>
        <!-- TO DO :: VIEW INGREDIENTS WHERE PRODUCT_ID -->
        <!-- TODO :: FOR EACH INGREDIENT WHERE PRODUCT ID * IF * AN INGREDIENT HAS 0 QUANTITY AVAILABLE IS = NO -->
        <td class="td-avail">Yes</td>
         <!-- TODO :: ARCHIVE PRODUCT  -->
        <td> 
          <button (click)="viewModal()" class="card-view-button"><i class="fas fa-eye"></i>&nbsp;view</button> &nbsp;
          <button (click)="editModal()" class="card-edit-button"><i class="fas fa-edit"></i>&nbsp; Edit</button> &nbsp;
          <button (click)="openDelete()" class="card-delete-button"><i class="fas fa-trash-alt"></i>&nbsp; Delete</button> 
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- Edit Modal -->
<div *ngIf = "openEditModal" class="modal">
  <div class="modal-content">
    <!-- Onclick close modal -->
    <button (click)="closeEditModal()" class="close-modal"><i class="fas fa-times"></i></button> 
      <h2><i class="fas fa-edit" style="color:green"></i>&nbsp; Edit Menu</h2>
      <hr>
      <input class="modal-input" placeholder="Product Name">
      <div>
      <div class="h-30">
        <h4>Ingredients</h4>
      </div>
      </div>
      <div class="modal-container">
        <ul>
          <li class="li-10">
            Name &nbsp;
            <button (click)="editIngModal()" class="modal-button">edit</button>
          </li> 
        </ul>
      </div>
      <div class="button-mid">
        <button class="modal-button-add" >Save Changes</button>
      </div>
  </div>
</div>

<!-- Edit Ingredient -->
<div *ngIf = "openIngredientModal" class="modal">
  <div class="modal-content">
    <!-- Onclick close modal -->
    <button (click)="closeIngModal()" class="close-modal"><i class="fas fa-times"></i></button> 
      <h2>Edit Ingredient</h2>
      <hr>
      <input class="modal-input" placeholder="Ingredient Name">
      <div class="button-mid">
        <button (click)="closeIngModal()" class="modal-button">Back</button>
        <button class="modal-button-add" >Save Changes</button>
      </div>
  </div>
</div>

<!-- View Modal -->
<div *ngIf = "openViewModal" class="modal">
  <div class="modal-content">
    <!-- Onclick close modal -->
    <button (click)="closeViewModal()" class="close-modal"><i class="fas fa-times"></i></button> 
      <h2><i class="fas fa-eye" style="color: gray"></i>&nbsp; View Menu</h2>
      <hr>
       <!-- Onclick close modal -->
    <div class="text-center">
      <h1>Product Name</h1>
    </div>
    <div>
    <div class="h-30">
      <h4>Ingredients</h4>
    </div>
    </div>
    <div class="modal-container">
      <ul>
        <li class="li-10">
          Name &nbsp;
        </li> 
      </ul>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div *ngIf = "deleteModal" class="modal">
  <div class="modal-content">
    <button (click)="closeDelete()" class="close-modal"><i class="fas fa-times"></i></button> 
    <h2><i class="fas fa-exclamation-triangle" style="color: red"></i>&nbsp; Delete</h2>
    <hr>
    <p>Are you sure to delete?  Product name </p>
    <div class="button-mid">
      <button class="modal-button">No</button>
      <button class="modal-button-danger">Yes</button>
    </div>
  </div>
</div>
