<nav id="nav-topbar">
  <div id="div-topbar" class="container-fluid">
    <div id="div-navbar-left">
      <div id="logobox">
          <img src="../../../assets/faveIcon/cocolime.png">
      </div>
    </div>
    <div id="div-navbar-right">
      <div id="div-topbar-row-1">
        <div id="div-topbar-title">
        </div>
        <div id="div-topbar-text">
          <!-- Loads user_image -->
          <!-- Loads user_name -->
        </div>
      </div>
      <div id="div-topbar-row-2">
        <div id="div-topbar-btn-box">
          <a href="./index.php?sys=PMS&page=home"><button type="button" id="btn-topbar-PMS" class="btn-topbar"><i class="fas fa-tasks"></i>&nbsp; Menu Management</button></a>
          <a href="./index.php?sys=admin&page=home"><button type="button" id="btn-nav" class="btn-topbar btn-primary"><i class="fas fa-cog"></i>&nbsp; Admin Tools</button></a>
        </div>
      </div>
    </div>
  </div>
</nav>
